 body{
  background-image:url('https://tse3.mm.bing.net/th?id=OIP.6MKVxWX4uNeVSeNMH7hHegHaEo&pid=Api&P=0&w=265&h=167');">
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

div{
  color:orange;
}

ul{
  color:white
}
h4{
  color:white
}